
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Server Management System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addServeur" type="submit">Add Serveur</button>
      </div>
    </div>
  </nav>
<hr>

<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                <th><span>IP Address</span></th>
                                <th><span>Name</span></th>
                                <th><span>Memory</span></th>
                                <th><span>Type</span></th>
                                <th class="text-center"><span>Status</span></th>
                                <th><span>Ping</span></th>
                                <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor = "let data of listServeurs">
                                    <td>
                                        <img src="{{data.imgURL}}" alt="" width="100" height="100">
                                        <!-- <a href="#" class="user-link">{{data.name}}</a> -->
                                        <span class="user-subhead">{{data.ipAddress}}</span>
                                    </td>
                                    <td>{{data.name}}</td>
                                    <td>{{data.memory}}</td>
                                    <td>{{data.type}}</td>
                                    
                                     <td>
                                        
                                        <span class="badge badge-success" *ngIf="data.status === stat">
                                        {{data.status === stat ? 'SERVER UP': '' }}</span>
                                        <span class="badge badge-danger" *ngIf="data.status !== stat">
                                            {{data.status !== stat ? 'SERVER DOWN': '' }}</span>
                                    </td>
                                    
                                    <td>
                                        <a (click)="PingServeur(data.ipAddress)" style="cursor:pointer;">
                                            <svg *ngIf="data.status === stat" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-reception-4" viewBox="0 0 16 16">
                                                <path d="M0 11.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2zm4-3a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-5zm4-3a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-8zm4-3a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v11a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-11z"/>
                                              </svg>
                                            <svg *ngIf="data.status !== stat" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-reception-0" viewBox="0 0 16 16">
                                                <path d="M0 13.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm4 0a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm4 0a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm4 0a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
                                              </svg>

                                        </a>
                                    </td>
                                    <td style="width: 20%;">
                                      <button (click)="editServeur(data)" type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#showServeur" style="font-size: 12px;">Details</button>
                                        <!-- <a  (click)="editServeur(data)" class="table-link text-warning" data-bs-toggle="modal" data-bs-target="#showServeur">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a> -->
                                        &nbsp;
                                        
                                        <button (click)="editServeur(data)" type="button" class="btn btn-outline-warning"  data-bs-toggle="modal" data-bs-target="#editServeur" style="font-size: 12px;">Edit</button>
                                        <!-- <a (click)="editServeur(data)" class="table-link text-info" data-bs-toggle="modal" data-bs-target="#editServeur">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a> -->
                                        &nbsp;
                                        <button (click)="deleteServeur(data.id)" type="button" class="btn btn-outline-danger" style="font-size: 12px;">Delete</button>
                                        <!-- <a (click)="deleteServeur(data.id)" class="table-link danger">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a> -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


  
  <!-- Add Serveur -->
  <div class="modal fade" id="addServeur" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Server</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="serverNew">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">IP Address</label>
                  <input type="text" formControlName="ipAddress" class="form-control" id="ipAddress" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Name</label>
                  <input type="text" formControlName="name" class="form-control" id="name" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Memory</label>
                    <input type="text" formControlName="memory" class="form-control" id="memory" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Type</label>
                    <input type="text" formControlName="type" class="form-control" id="type" aria-describedby="emailHelp">
                  </div>
               
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" (click)="addServeur()" class="btn btn-primary">Add Server</button>
                </div>
                
              </form>
        </div>
        
      </div>
    </div>
  </div>
 

  
  <!-- Edit Serveur -->
  <div class="modal fade" id="editServeur" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Server </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="serveurDetail">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">IP Address</label>
                  <input type="text" formControlName="ipAddress" class="form-control" id="ipAddress" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Name</label>
                  <input type="text" formControlName="name" class="form-control" id="name" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Memory</label>
                    <input type="text" formControlName="memory" class="form-control" id="memory" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Type</label>
                    <input type="text" formControlName="type" class="form-control" id="type" aria-describedby="emailHelp">
                  </div>
               
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" (click)="updateServeur()" class="btn btn-outline-success">Update Server</button>
                </div>
                
              </form>
        </div>
        
      </div>
    </div>
  </div>


<!-- show Serveur -->
<div class="modal fade" id="showServeur" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Show Server </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="serveurDetail">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">IP Address</label>
                  <input type="text" formControlName="ipAddress" class="form-control" id="ipAddress" aria-describedby="emailHelp"   readonly>
                </div>
                <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Name</label>
                  <input type="text" formControlName="name" class="form-control" id="name" aria-describedby="emailHelp" readonly>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Memory</label>
                    <input type="text" formControlName="memory" class="form-control" id="memory" aria-describedby="emailHelp" readonly>
                  </div>
                  <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Type</label>
                    <input type="text" formControlName="type" class="form-control" id="type" aria-describedby="emailHelp" readonly>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">status</label>
                      <input type="text" formControlName="status" class="form-control" id="status" aria-describedby="emailHelp" readonly>
                    </div>
               
                
              </form>
        </div>
        
      </div>
    </div>
  </div>
